include vars.pug
doctype html
html(lang="pt-br")
	head
		block title
			-var title = 'Lyna Freitas Clothes';
		//- block title

		block theme
			-var $theme = '#ecb7af';
		//- block $theme

		title #{title}

		meta(charset="utf-8")

		meta(name="description" content=`Descrição do projeto ${title}`)

		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="msapplication-tap-highlight" content="no")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")

		// manifest
		link(rel="manifest" href="assets/application/manifest.json")

		link(rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico")

		// add to home screen (ios)
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-title" content=title)
		meta(name="apple-mobile-web-app-status-bar-style" content=$theme)
		link(rel="apple-touch-icon" href="assets/application/icon-152x152.png")

		// add to home screen (chrome)
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="application-name" content=title)
		meta(name="theme-color" content=$theme)

		// Tile icon for Win8 (144x144 + tile color)
		meta(name="msapplication-TileImage" content="assets/application/icon-144x144.png")
		meta(name="msapplication-TileColor" content=$theme)

		// ICONS
		each icon in icons
			-var icone = icon;
			link(rel="icon" sizes=icon.sizes type=icone.type href=icone.src)

		// PRELOADING
		link(rel="preload" as="script" href="assets/js/jquery.min.js")
		link(rel="preload" as="script" href="assets/js/bootstrap.min.js")
		link(rel="preload" as="script" href="assets/js/scripts.min.js")
		include fonts.preload.pug

		link(rel="preload" as="style" href="assets/css/estilos.css")

		// CSS
		link(rel="stylesheet" href="assets/css/estilos.css")
	//- head
	// colocar no attr [data-path] a url do site para poder fazer o lazyload de scripts sem problemas de rota.
	body(data-path="http://localhost:9000")
		include ../mixins/mixins.pug

		noscript
			style .noscript{position: sticky;top:0;z-index: 1200;background: #D32F2F;color: #FFF;padding: 20px;text-align: center}
			.noscript
				p.h1 (&gt;_&lt;) Ops....
				p Seu navegador está com os scripts desabilitados! Para ter uma melhor experiencia com o nosso site, por favor, habiliete-os.
			//- .noscript
		//- noscript

		//  [if lt IE 10]><style>.ie-message{position: sticky;top: 0;z-index: 1200;background: #FF9800;color: #FFF}</style><div class="ie-message"><p class="h1"><em>Atenção!!!</em></p><p>Seu navegador está desatualizado! Para ter uma melhor experiência com o nosso site, por favor atualize-o para a última versão do Microsoft Edge.</p></div><![endif]

		#app
			sprite-svg
			include header.pug
			template
				main.wrapper
					block conteudo
						h1 Caro desenvolvedor frontend
						p #[strong NÂO] se esqueça de trocar a cor do $theme e tão pouco de trocar os icones de Application ou favicon
						// conteudo do site aqui!
				///main.wrapper

			include footer.pug
			include modal.pug

			// Poisitions aceitas pelo attr [position]:
				- left-bottom
				- left-top
				- right-bottom
				- right-top
			btn-whatsapp(
				fone="+55 (99) 9.1234-5678"
				position="left-bottom"
			)
			//
				Ao clicar em "Aceitar e Fechar", é emitido o evento 'termos.cookies' que pode ser escutado da seguinte forma:
				<script>
					window.$on('termos.cookies', function(event) {
						console.log(event);
					})
				</script>

				Observação:
				O termo reseta as 00h e 1 min, caso precise resetar agora, use o seguinte código no console do navegador:

				<script>
					localStorage.clear();
				</script>
			msg-cookies Utilizamos cookies para personalizar anúncios e melhorar a sua experiência no site. Ao continuar navegando, você concorda com a nossa #[a(href="politica-de-privacidade.html") Política de Privacidade]
		///#app

		//
			Foi adicionada uma classe para auxiliar na validação de CPF, CNPJ e E-mail no js do workflow. Para usá-la(o) faça da seguinte forma:

			<script>
			// Instanciando a classe
			// O métodos SEMPRE retornam um booleano
			const Validador = new Validator();

			// Testando os valores
			let emailValido = Validador.email('adfadf');
			let cpfValido = Validador.email('000.000.000-00');
			let cnValido = Validador.email('00.000.000/0000-00');
			</script>

		script(src="assets/js/jquery.min.js")
		script(src="assets/js/bootstrap.min.js")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.js" integrity="sha512-UH428GPLVbCa8xDVooDWXytY8WASfzVv3kxCvTAFkxD2vPjouf1I3+RJ2QcSckESsb7sI+gv3yhsgw9ZhM7sDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		script(src="assets/js/scripts.min.js")
	//- body
